.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  background-image: url("./page/ptn.png");
  background-attachment: fixed;
  background-position: center;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100%;
  background: #ffc107;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 100%;
  color: #ccc;
  z-index: 1;
}

.headTitle {
  position: absolute;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headTitle img {
  height: 42px;
}

.headM {
  width: 100%;
  height: 48px;
  background-color: #ffc107;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headM img {
  height: 38px;
  z-index: 1;
}

.main {
  width: 100%;
  flex: 1;
}

.App-link {
  color: #61dafb;
}

.tableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableContents {
  width: 100%;
  max-width: 1200px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 2px solid #000;
  background-color: #fff;
}

.table thead {
  background-color: #efefef;
}

.table tfoot {
  background-color: #efefef;
}

.table th {
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 4px;
  height: 48px;
}

.table td {
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 4px;
  height: 48px;
}

.table .sum {
  background-color: rgba(248, 191, 0, 0.24);
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input input {
  width: 100%;
  height: 48px;
  outline: none;
  padding: 0;
  margin: 0;
  text-indent: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.input input:focus {
  z-index: 1;
  border: 1px solid #e67e22;
  box-shadow: 0 0 1px #ffc107;
}

.input .id {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input .pw {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input + .input {
  margin-top: -1px;
}

.vali {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  color: #900;
}

.login,
.order,
.user {
  width: 328px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.login:after {
  content: "";
  position: absolute;
  bottom: -36px;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 0;
  background-image: url("./page/sorder0.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.order {
  justify-content: space-between;
}

.login h2,
.user h2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  z-index: 1;
}

.App .login h2 {
  justify-content: flex-end;
}

.App.mobile .login h2 {
  justify-content: flex-end;
}

.login .subTitle {
  border: 8px solid #e67e22;
  border-radius: 16px;
  background-color: #343434;
  color: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: calc(50% - 181px);
  width: 128px;
  height: 128px;
  transform: rotate(45deg);
}

.login .subTitle::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 112px;
  opacity: 0.3;
  transform: rotate(-45deg);
  background-image: url("./page/mask.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login .subTitle span {
  height: 21px;
  text-shadow: 0 0 4px #000;
  word-break: keep-all;
  transform: rotate(-45deg);
}

.user .title {
  color: #343434;
}

.user .title i {
  font-size: 48px;
  color: #ffc107;
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.comment {
  padding: 16px;
}

.title {
  padding: 6px 0;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #c79a16;
}

.subTtitle {
  font-size: 14px;
  text-decoration: underline;
}

.accordion {
  border: 2px solid #343434;
  border-radius: 16px;
  overflow: hidden;
  margin-top: 16px;
}

.accordionItem {
  border-bottom: 1px solid #aaa;
}

.accordionItem:last-child {
  border-bottom: 0px;
}

.accordionHead {
  background-color: #efefef;
  margin: 0;
  height: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 900;
}

.accordionBody {
  background-color: #efefef;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.accordionBodyActive {
  /*height: 342px;
  height: fit-content;*/
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.controll {
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.order .controll {
  flex-direction: column;
}

.buttonLeft {
  margin-right: 8px;
  background-color: #efefef;
  color: #999;
}

.buttonRight {
  margin-left: 8px;
}

.label {
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  background-color: #fff;
  height: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.label span {
  color: #7a7a7a;
}

.label:last-child {
  border-bottom: 0;
}

.label span:first-child::after {
  content: "·";
  padding: 0 8px;
}

.accordionItem input[type="radio"]:checked + label {
  background-color: #343434;
}

.accordionItem input[type="radio"]:checked + label span {
  color: #fff;
}

.accordionItem input[type="radio"]:checked + label:after {
  content: url("./page/check-line.png");
  position: absolute;
  right: 16px;
}

.armyWrap {
  z-index: 1;
}
.armyComment {
  color: #c79a16;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 4px #000;
}

.armyComment i {
  font-size: 28px;
  color: #e67e22;
}

.armySelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
  position: relative;
  /*border: 0px solid rgba(0, 0, 0, 0.24);*/
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.armySelect.active {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.armySelect label {
  font-size: 16px;
  font-weight: 900;
  width: 33.3333%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc107;
  color: #343434;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.armySelect + .input input {
  border-radius: 0;
}

.armySelect .armyLeft {
  border-right: none;
  border-right: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.armySelect .armyCenter {
  border-right: none;
  border-left: none;
  border-left: 0;
  border-right: 0;
}

.armySelect .armyRight {
  border-left: none;
  border-left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/*.armySelect input[type='radio']:checked+label:after {
  content: url('./page/check-line.png');
  position: absolute;
  top: 8px;
}*/

.armySelect input[type="radio"]:checked + label {
  background-color: #343434;
  color: #ffc107;
}

.resultHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.total,
.users {
  margin-top: 48px;
  margin-bottom: 48px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.buttonGroup button {
  border: none;
  padding: 0 16px;
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 36px !important;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.016);
}

.buttonGroup button i {
  font-size: 18px;
  margin-right: 4px;
}

.nav {
  display: flex;
  flex-direction: row;
  border-left: 1px solid rgba(0, 0, 0, 0.16);
  border-right: 1px solid rgba(0, 0, 0, 0.16);
}

.nav .navButton {
  text-decoration: none;
  background-color: #fff;
  padding: 0;
  border: 0;
  height: 56px !important;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #a7a7a7;
  cursor: pointer;
  border-radius: 0;
}

.nav .navButton i {
  font-size: 21px;
  margin-bottom: 4px;
  color: #a7a7a7;
}

.nav .navButton.active {
  color: #343434;
}

.nav .navButton.active i {
  color: #343434;
}

tbody tr:hover {
  transition: all 0.3s ease-in-out;
  background-color: #ccc !important;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343434;
}

.profile i {
  margin-right: 8px;
  font-size: 21px;
}

.back {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.back i {
  font-size: 28px;
  margin-right: 4px;
  color: #e67e22;
}

.back span {
  font-size: 16px;
  line-height: 21px;
}

@media (max-width: 424.9px) {
  .App {
    padding: 0 16px;
  }

  .App .login:before {
    content: "";
    position: absolute;
    background-color: #ffc107;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 0;
    width: 100%;
    height: calc(100% - 267px);
    height: calc(100% - 182px);
    top: -48px;
  }

  .login,
  .order,
  .user {
    width: 100%;
  }
}

@media (min-width: 425px) {
}
