.App {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #61dafb;
  height: 48px;
  width: 100%;
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #61dafb;
  height: 48px;
  width: 100%;
}

.main {
  width: 100%;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.tableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableContents {
  width: 100%;
  max-width: 1200px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 2px solid #000;
}

.table thead {
  background-color: #efefef;
}

.table tfoot {
  background-color: #efefef;
}

.table th {
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 4px;
  height: 31px;
}

.table td {
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 4px;
  height: 31px;
}

.table .sum {
  background-color: #f5dfbf;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input input {
  width: 100%;
  height: 48px;
  outline: none;
  padding: 0;
  margin: 0;
  text-indent: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.vali {
  width: 100%;
  height: 18px;
  text-align: left;
  color: #f00;
}

.login, .order, .user {
  border: 0px solid #f00;
  width: 375px;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.accordion {
  border: 1px solid #f00;
  border-radius: 16px;
  overflow: hidden;
}

.accordionItem {
  border-bottom: 1px solid #f00;
}
.accordionItem:last-child {
  border-bottom: 0px;
}

.accordionHead {
  background-color: #ccc;
  margin: 0;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordionBody {
  background-color: #efefef;
  overflow: hidden;
  height: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}