.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /*justify-content: center;*/
  min-height: 100%;
}

.App.mobile {
  height: 100%;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100%;
  background: #efefef;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 100%;
  color: #ccc;
}

.headTitle {
  position: absolute;
  left: 16px;
}

.main {
  width: 100%;
}

.App.mobile .main {
  flex: 1;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.tableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableContents {
  width: 100%;
  max-width: 1200px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 2px solid #000;
}

.table thead {
  background-color: #efefef;
}

.table tfoot {
  background-color: #efefef;
}

.table th {
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 4px;
  height: 31px;
}

.table td {
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 4px;
  height: 31px;
}

.table .sum {
  background-color: #f5dfbf;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input input {
  width: 100%;
  height: 48px;
  outline: none;
  padding: 0;
  margin: 0;
  text-indent: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input .id {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.input .pw {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.vali {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  color: #f00;
}

.login, .order, .user {
  border: 0px solid #f00;
  width: 328px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login h2, .user h2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
}

.login .appIcon {
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 8px;
  /*border: 2px solid #a7a7a7;
  box-shadow: 0 0 16px rgba(0,0,0,0.48);*/
}

.login h2 img {
  width: 96%;
}

.user .title i {
  font-size: 48px;
  color: #a7a7a7;
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App.mobile .container {
  padding: 0 16px;
}

.comment {
  padding: 16px;
}

.title {
  padding: 16px 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.subTtitle {
  font-size: 14px;
  text-decoration: underline;
}

.accordion {
  border: 2px solid #343434;
  border-radius: 16px;
  overflow: hidden;
}

.accordionItem {
  border-bottom: 1px solid #aaa;
}

.accordionItem:last-child {
  border-bottom: 0px;
}

.accordionHead {
  background-color: #efefef;
  margin: 0;
  height: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.accordionBody {
  background-color: #efefef;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.accordionBodyActive {
  /*height: 342px;
  height: fit-content;*/
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.controll {
  display: flex;
  flex-direction: row;
}

.order .controll {
  flex-direction: column;
}

.buttonLeft {
  margin-right: 8px;
  background-color: #efefef;
  color: #999;
}

.buttonRight {
  margin-left: 8px;
}

.label {
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  height: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.label:last-child {
  border-bottom: 0;
}

.label span:first-child::after {
  content: '·';
  padding: 0 8px;
}

.accordionItem input[type='radio']:checked+label {
  background-color: #343434;
  color: #fff;
}

.accordionItem input[type='radio']:checked+label:after {
  content: url('./page/check-line.png');
  position: absolute;
  right: 16px;
}

.armySelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  overflow: hidden;

  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  margin-left: -1px;
}

.armySelect + .input input {
  border-radius: 0;
}

.armyLeft {
  border-right: none;
  width: 33.3333%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.armyCenter {
  border-right: none;
  border-left: none;
  width: 33.3333%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.armyRight {
  border-left: none;
  width: 33.3333%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

/*.armySelect input[type='radio']:checked+label:after {
  content: url('./page/check-line.png');
  position: absolute;
  top: 8px;
}*/

.armySelect input[type='radio']:checked+ label {
  background-color: #343434;
  color: #fff;
}


.resultHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.total, .users {
  margin-top: 48px;
  margin-bottom: 48px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.buttonGroup button {
  border: none;
  padding: 0 16px;
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 36px !important;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.016);
}

.buttonGroup button i {
  font-size: 18px;
  margin-right: 4px;
}

.nav {
  display: flex;
  flex-direction: row;
  border-left: 1px solid rgba(0, 0, 0, 0.16);
  border-right: 1px solid rgba(0, 0, 0, 0.16);
}

.nav .navButton {
  text-decoration: none;
  background-color: #fff;
  padding: 0;
  border: 0;
  height: 56px !important;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #a7a7a7;
  cursor: pointer;
  border-radius: 0;
}

.nav .navButton i {
  font-size: 18px;
  margin-bottom: 4px;
  color: #a7a7a7;
}

.nav .navButton.active {
  color: #343434;
}

.nav .navButton.active i {
  color: #343434;
}

tbody tr:hover {
  transition: all 0.3s ease-in-out;
  background-color: #ccc !important;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile i {
  margin-right: 8px;
  font-size: 21px;
}

@media (max-width: 425px) {
  .login, .order, .user {
    width: 100%;
  }
}