* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  height: 100%;
}

#root {
  min-height: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
button {
  height: 48px !important;
  font-family: 'Noto Sans KR', sans-serif;
}
.button, .buttonLeft, .buttonRight {
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #eca800;
  color: #fff;
  text-shadow: 0 0 4px rgba(0,0,0,0.69);
  width: 100%;
  height: 46px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
}

.button:disabled {
  background-color: #efefef;
  color: #999;
  text-shadow: none;
}

.button:focus {
  border: 1px solid rgba(0, 0, 0, 0.48);
}

input[type='radio'] {
  display: none;
}